<a href="https://colab.research.google.com/github/raghvendrasingh1005/INeuron-demo/blob/main/assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. What exactly is []?**

**Ans.** The empty list value, which is a list value that contains no items.

eg:
[ ] is a empty list, like a =[ ]

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

**Ans.**

In [ ]:
# Before Assign the value
spam = [2, 4, 6, 8, 10]
print(spam)

# assign the value 'hello' as the third value
spam[2] = "hello"
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

**Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [ ]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)] # spam[int(33/11)] = spam[3]

'd'

**4. What is the value of spam[-1]?**

In [17]:
spam = ['a', 'b', 'c', 'd']
spam[-1] # negative index # d

'd'

**5. What is the value of spam[:2]?**

In [ ]:
spam = ['a', 'b', 'c', 'd']
spam[:2]

['a', 'b']

**Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.**

**6. What is the value of bacon.index('cat')?**

In [ ]:
bacon = [3.14, 'cat', 11, 'cat', True] 
bacon.index('cat') # it returns the index of first occurrence of 'cat'

1

**7. How does bacon.append(99) change the look of the list value in bacon?**

In [ ]:
#List before change
bacon = [3.14, 'cat', 11, 'cat', True] 
print(bacon)

#List After change
bacon.append(99) # append adds the item at the end of the list
print(bacon)

[3.14, 'cat', 11, 'cat', True]
[3.14, 'cat', 11, 'cat', True, 99]

**8. How does bacon.remove('cat') change the look of the list in bacon?**

In [ ]:
#List before change
bacon = [3.14, 'cat', 11, 'cat', True] 
print(bacon)

#List After remove
bacon.remove('cat') # remove first occurrence of item
print(bacon)

[3.14, 'cat', 11, 'cat', True]
[3.14, 11, 'cat', True]

**9. What are the list concatenation and list replication operators?**

**Ans.**
The operator for list concatenation is +, while the operator for replication is *

The + operator joins the two list.
The * operator replicates the elements in the list.

In [ ]:
List1 = [1,2,3]
List2 = [4,5,6]
# list concatenation
List3 = List1 + List2
print(List3)

# list replication
List4 = List1 * 3
print(List4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

**10. What is difference between the list methods append() and insert()?**

**Ans.**
While append() will add values only to the end of a list, insert() can add them anywhere in the list.

In [ ]:
List1 = [1,2,3]
# list append
List1.append(4)
print(List1)

# list insert
List2 = [4,5,6,7]
List2.insert(1, "Raghv")
print(List2)

[1, 2, 3, 4]
[4, 'Raghv', 5, 6, 7]

**11. What are the two methods for removing items from a list?**

**Ans.**
1. remove():	It helps to remove the very first given element matching from the list.                                                                       
2. pop():	The pop() method removes an element from the list based on the index given.

In [ ]:
List1 = [1,2,3]
# Remove
List1.remove(2)
print(List1)

List2 = [4,5,6,7]
# Pop
List2.pop(1)
print(List2)

[1, 3]
[4, 6, 7]

**12. Describe how list values and string values are identical.**

**Ans.**
Lists are similar to strings, which are ordered collections of characters, except that the elements of a list can have any type and for any one list, the items can be of different types.

*   Both lists and strings can be passed to len()
*   Both have indexes and slices
*   Can be used in for loops
*   Can be concatenated or replicated

In [16]:
# operation string 
fruit = "Apple"
print(fruit[0])
print(fruit[0:-1])


# Opertaion on List
list1 = ["apple", "mango"]
print(list1[0])
print(list1[0:-1])

A
Appl
apple
['apple']

**13. What's the difference between tuples and lists?**

**Ans.**

**Tuples:**
1.   Tuples are immutable.
2.   Iteration in tuples is faster.
3.   Tuples are appropriate for accessing the elements
4.   Tuples consume lesser memory

**Lists:**
1.   Lists are mutable
2.   Iteration in lists is time consuming
3.   Lists are better for insertion and deletion operations
4.   List consume more memory

In [1]:
# Operation On List
fruits = ['apples', 'bananas', 'grapes', 'mangoes']
print(fruits)

fruits[0] = 'oranges'
print(fruits)

# Same Operation On Tuple
fruits = ('apples', 'bananas', 'grapes', 'mangoes')
print(fruits)

fruits[0] = 'oranges' # Tuple dosn't support assignment
print(fruits)

['apples', 'bananas', 'grapes', 'mangoes']
['oranges', 'bananas', 'grapes', 'mangoes']
('apples', 'bananas', 'grapes', 'mangoes')

TypeError: ignored

We encounter an error while changing the first element (at 0th index) of the tuple because of immutability. As tuples does not support item assignment.

**14. How do you type a tuple value that only contains the integer 42?**

In [6]:
number = (42,)
print(number)
print(type(number))

(42,)
<class 'tuple'>

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

In [12]:
# List
fruits = ['apples', 'bananas', 'grapes', 'mangoes']
print(f"List : {fruits}")

# List to tuple conversion
tuple1 = tuple(fruits)
print(f"List to tuple conversion: {tuple1}")

# Tuple
tuple2 = ("Ram", "Shyam", "Ganesh")
print(f"Tuple: {tuple2}")

# Tuple to List conversion
list2 = list(tuple2)
print(f"Tuple to list conversion: {list2}")

List : ['apples', 'bananas', 'grapes', 'mangoes']
List to tuple conversion: ('apples', 'bananas', 'grapes', 'mangoes')
Tuple: ('Ram', 'Shyam', 'Ganesh')
Tuple to list conversion: ['Ram', 'Shyam', 'Ganesh']

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

**Ans.**
They contain references to list values.

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

**Ans.**

copy.copy() create reference to original object. If you change copied object - you change the original object. copy.deepcopy() creates new object and does real copying of original object to new one. Changing new deepcopied object doesn't affect original object.

In [13]:

# importing copy module
import copy
 
# initializing list 1
li1 = [1, 2, 3, 4]
 
# using copy for shallow copy
li2 = copy.copy(li1)
print("li2 ID: ", id(li2), "Value: ", li2)
# using deepcopy for deepcopy
li3 = copy.deepcopy(li1)
print("li3 ID: ", id(li3), "Value: ", li3)

li2 ID:  139874058929808 Value:  [1, 2, 3, 4]
li3 ID:  139874053520752 Value:  [1, 2, 3, 4]